*{
    font-family: 'Comic Neue', cursive;
}

.image_accueil{
    background-image: url(images/header_perma.jpg);
    background-size: cover;
    height: 400px;
}
.image_accueil h1{
    margin-top: 70px;
    font-size: 60px;
    color: black;
    font-weight: bold; 
}

/*infos*/
#infos{
    margin-top: 60px;
}
h2{
    text-align: center;
    color: rgb(9, 77, 9);
    
    
}
#infos h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}



#infos2 img{
    width: 340px;
    height: 300px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

#infos img:hover{
    border: solid 3px black;
}

#infos2 h4{
    text-align: center; 
}

#infos2 span a{
    text-decoration: none;
    color: green;
}

/*tous les articles*/
.tousArticles{
    text-align: center;
    margin-top: 20px;
}
.tousArticles button{
    background-color: green;
    border-radius: 3px;
    border: green;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
}
.tousArticles button:hover{
    background-color: rgb(35, 134, 35);
}

/*terre*/
#terre{
    text-align: center;
    margin-top: 60px;
}
#terre h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
#terre img{
    width: 700px;
    height: 400px;
    border-radius: 5px;
}
#terre p{
    font-size: 20px;
}
#terre span a{
    text-decoration: none;
    color: green;
}

/*associations*/
#associations{
    margin-top: 60px;
}
.resume{
    margin-bottom: 30px;
}
.resume h4{
    text-align: center;
    font-family: 18px;
}

#associations h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

#assoc h3{
    font-weight: bold;
    font-size: 25px; 
}
#assoc p{
    font-weight: bold;
    font-size: 20px;
}

#assoc .num1{
    background-image: url(images/tomates.jpg);
    background-size: cover;
    filter: brightness(0.8);
}
#assoc .num2{
    background-image: url(images/concombre.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.9);
}
#assoc .num3{
    background-image: url(images/fraises.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.9);
}
#assoc2 h3{
    font-weight: bold;
    font-size: 25px; 
}
#assoc2 p{
    font-weight: bold;
    font-size: 20px;
}
#assoc2 .num4{
    background-image: url(images/pdeterre.jpg);
    background-size: cover;
    background-position: unset;
    filter: brightness(0.9);
    height: 190px;
}
#assoc2 .num5{
    background-image: url(images/radis.jpg);
    background-size: cover;
    background-position: unset;
    filter: brightness(1.2);
    
}
#assoc2 .num6{
    background-image: url(images/persil.jpg);
    background-size: cover;
    background-position: unset;
    
    
}
/*toutes les associations*/
.tousAssociations{
    text-align: center;
    margin-top: 30px;
}
.tousAssociations button{
    background-color: green;
    border-radius: 3px;
    border: green;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
}
.tousAssociations button:hover{
    background-color: rgb(35, 134, 35);
}
/*animaux*/
#animaux{
    margin-top: 60px;
}
#animaux h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
#bloc_animaux img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
} 


